# Project Airbnb
---

## Problem statement

## Background

Airbnb began in 2008 when two designers who had space to share hosted three travelers looking for a place to stay. Now, millions of hosts and travelers choose to create a free Airbnb account so they can list their space and book unique accommodations anywhere in the world. And Airbnb experience hosts share their passions and interests with both travelers and locals.

## Data gathering

## Agenda

1. Imports
2. Data reading
3. Null checking  
4. Data preparation 
5. Conclusion

### 1. Imports:
---

In [214]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [408]:
pd.set_option('display.max_columns', None) # to see all the columns on my dataframe
listing= pd.read_csv('../data/raw_data/listing.csv',low_memory=False)
review =pd.read_csv('../data/raw_data/reviews.csv')
calendar2022 =pd.read_csv('../data/raw_data/calendar.csv')
calendar2021 =pd.read_csv('../data/raw_data/calendar2021feb.csv')

### 2. Data reading:
---

In [409]:
listing.head(1)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20220106025017,2022-01-06,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,within a day,51%,17%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,8.0,8.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"New York, United States",Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,NaN,1 bath,NaN,1.0,"[""Hot water"", ""Iron"", ""Keypad"", ""Refrigerator""...",$150.00,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,30,60,90,334,2022-01-06,48,0,0,2009-11-21,2019-11-04,4.7,4.72,4.62,4.76,4.79,4.86,4.41,NaN,f,3,3,0,0,0.33

In [410]:
review.head(1)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...

In [411]:
calendar2021.head(1)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,21456,2021-02-05,t,$85.00,$85.00,30.0,365.0

In [412]:
calendar2022.head(1)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2022-01-06,t,$150.00,$150.00,30.0,1125.0

In [413]:
print('listings shape: ',listing.shape)
print('review shape: ', review.shape)
print('calendar 2021 shape: ', calendar2021.shape)
print('calendar 2022 shape: ', calendar2022.shape)

listings shape:  (38185, 74)
review shape:  (908803, 6)
calendar 2021 shape:  (13464021, 7)
calendar 2022 shape:  (13930969, 7)

In [414]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38185 entries, 0 to 38184
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            38185 non-null  int64
 1   listing_url                                   38185 non-null  object
 2   scrape_id                                     38185 non-null  int64
 3   last_scraped                                  38185 non-null  object
 4   name                                          38171 non-null  object
 5   description                                   37077 non-null  object
 6   neighborhood_overview                         22560 non-null  object
 7   picture_url                                   38185 non-null  object
 8   host_id                                       38185 non-null  int64
 9   host_url                                      38185 non-null  object
 10  host_name                                     38138 non-null  object
 11  host_since                                    38138 non-null  object
 12  host_location                                 38036 non-null  object
 13  host_about                                    21872 non-null  object
 14  host_response_time                            23895 non-null  object
 15  host_response_rate                            23895 non-null  object
 16  host_acceptance_rate                          24875 non-null  object
 17  host_is_superhost                             38138 non-null  object
 18  host_thumbnail_url                            38138 non-null  object
 19  host_picture_url                              38138 non-null  object
 20  host_neighbourhood                            30761 non-null  object
 21  host_listings_count                           38138 non-null  float64
 22  host_total_listings_count                     38138 non-null  float64
 23  host_verifications                            38185 non-null  object
 24  host_has_profile_pic                          38138 non-null  object
 25  host_identity_verified                        38138 non-null  object
 26  neighbourhood                                 22561 non-null  object
 27  neighbourhood_cleansed                        38185 non-null  object
 28  neighbourhood_group_cleansed                  38185 non-null  object
 29  latitude                                      38185 non-null  float64
 30  longitude                                     38185 non-null  float64
 31  property_type                                 38185 non-null  object
 32  room_type                                     38185 non-null  object
 33  accommodates                                  38185 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                38082 non-null  object
 36  bedrooms                                      34296 non-null  float64
 37  beds                                          36898 non-null  float64
 38  amenities                                     38185 non-null  object
 39  price                                         38185 non-null  object
 40  minimum_nights                                38185 non-null  int64
 41  maximum_nights                                38185 non-null  int64
 42  minimum_minimum_nights                        38167 non-null  float64
 43  maximum_minimum_nights                        38167 non-null  float64
 44  minimum_maximum_nights                        38167 non-null  float64
 45  maximum_maximum_nights                        38167 non-null  float64
 46  minimum_nights_avg_ntm                        38167 non-null  float64
 47  maximum_nights_avg_ntm                        38167 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              38185 non-null  object
 50  availability_30                               38185 non-null  int64
 51  availability_60                               38185 non-null  int64
 52  availability_90                               38185 non-null  int64
 53  availability_365                              38185 non-null  int64
 54  calendar_last_scraped                         38185 non-null  object
 55  number_of_reviews                             38185 non-null  int64
 56  number_of_reviews_ltm                         38185 non-null  int64
 57  number_of_reviews_l30d                        38185 non-null  int64
 58  first_review                                  29009 non-null  object
 59  last_review                                   29009 non-null  object
 60  review_scores_rating                          29009 non-null  float64
 61  review_scores_accuracy                        28426 non-null  float64
 62  review_scores_cleanliness                     28437 non-null  float64
 63  review_scores_checkin                         28420 non-null  float64
 64  review_scores_communication                   28430 non-null  float64
 65  review_scores_location                        28417 non-null  float64
 66  review_scores_value                           28416 non-null  float64
 67  license                                       1 non-null      object
 68  instant_bookable                              38185 non-null  object
 69  calculated_host_listings_count                38185 non-null  int64
 70  calculated_host_listings_count_entire_homes   38185 non-null  int64
 71  calculated_host_listings_count_private_rooms  38185 non-null  int64
 72  calculated_host_listings_count_shared_rooms   38185 non-null  int64
 73  reviews_per_month                             29009 non-null  float64
dtypes: float64(22), int64(17), object(35)
memory usage: 21.6+ MB

In [415]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908803 entries, 0 to 908802
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     908803 non-null  int64
 1   id             908803 non-null  int64
 2   date           908803 non-null  object
 3   reviewer_id    908803 non-null  int64
 4   reviewer_name  908797 non-null  object
 5   comments       908638 non-null  object
dtypes: int64(3), object(3)
memory usage: 41.6+ MB

In [416]:
calendar2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13464021 entries, 0 to 13464020
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 719.1+ MB

In [417]:
calendar2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13930969 entries, 0 to 13930968
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 744.0+ MB

### 3. Null checking
---

In [418]:
# Checking for null values
null_colum = listing.columns[listing.isnull().any()]
listing[null_colum].isnull().sum()

#https://dzone.com/articles/pandas-find-rows-where-columnfield-is-null

name                              14
description                     1108
neighborhood_overview          15625
host_name                         47
host_since                        47
host_location                    149
host_about                     16313
host_response_time             14290
host_response_rate             14290
host_acceptance_rate           13310
host_is_superhost                 47
host_thumbnail_url                47
host_picture_url                  47
host_neighbourhood              7424
host_listings_count               47
host_total_listings_count         47
host_has_profile_pic              47
host_identity_verified            47
neighbourhood                  15624
bathrooms                      38185
bathrooms_text                   103
bedrooms                        3889
beds                            1287
minimum_minimum_nights            18
maximum_minimum_nights            18
minimum_maximum_nights            18
maximum_maximum_nights            18
minimum_nights_avg_ntm            18
maximum_nights_avg_ntm            18
calendar_updated               38185
first_review                    9176
last_review                     9176
review_scores_rating            9176
review_scores_accuracy          9759
review_scores_cleanliness       9748
review_scores_checkin           9765
review_scores_communication     9755
review_scores_location          9768
review_scores_value             9769
license                        38184
reviews_per_month               9176
dtype: int64

In [419]:
null_colum = review.columns[review.isnull().any()]
review[null_colum].isnull().sum()

reviewer_name      6
comments         165
dtype: int64

In [420]:
null_colum = calendar2021.columns[calendar2021.isnull().any()]
calendar2021[null_colum].isnull().sum()

price               170
adjusted_price      170
minimum_nights    15293
maximum_nights    15293
dtype: int64

In [421]:
null_colum = calendar2022.columns[calendar2022.isnull().any()]
calendar2022[null_colum].isnull().sum()

price              5
adjusted_price     5
minimum_nights    21
maximum_nights    21
dtype: int64

### 4. Data preparation
---

In [422]:
listing.drop(['scrape_id','host_thumbnail_url','host_picture_url','host_listings_count',
              'host_verifications','host_identity_verified','neighbourhood','neighbourhood_cleansed',
             'neighbourhood_group_cleansed','bathrooms','availability_30','availability_60','availability_90','availability_365',
             'calendar_last_scraped','number_of_reviews_ltm','number_of_reviews_l30d','license','instant_bookable',
             'calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
             'calculated_host_listings_count_shared_rooms','host_response_time','host_response_rate','host_acceptance_rate','minimum_minimum_nights',
             'maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm',
             'calendar_updated','first_review','last_review','last_scraped','host_url','host_neighbourhood','minimum_nights',
             'maximum_nights','has_availability'],axis=1,inplace=True)

calendar2021.drop('adjusted_price',axis=1,inplace=True)
calendar2021.dropna(subset=['price'],inplace=True)
calendar2021.dropna(subset=['minimum_nights'],inplace=True)

calendar2022.drop('adjusted_price',axis=1,inplace=True)
calendar2022.dropna(subset=['price'],inplace=True)
calendar2022.dropna(subset=['minimum_nights'],inplace=True)

In [423]:
listing['name'].fillna(str(listing['id']), inplace=True)
listing['description'].fillna('None', inplace=True)
listing['neighborhood_overview'].fillna('None', inplace=True)
listing['host_name'].fillna(str(listing['id']), inplace=True)
listing['host_since'].fillna(listing['host_since'].mode()[0], inplace=True)
listing['host_location'].fillna('New York, New York, United States', inplace=True)
listing['host_about'].fillna('None', inplace=True)
listing['host_is_superhost'].fillna('f', inplace=True)
listing['host_total_listings_count'].fillna('0', inplace=True)
listing['host_has_profile_pic'].fillna('f', inplace=True)
listing['bathrooms_text'].fillna('1 bath', inplace=True)
listing['bedrooms'].fillna('1.0', inplace=True)
listing['beds'].fillna(listing['beds'].mode()[0], inplace=True)


review['reviewer_name'].fillna('None', inplace=True)
review['comments'].fillna('None', inplace=True)

In [424]:
listing['price'] = listing['price'].replace('[\$\,]', '', regex=True).astype(float)

calendar2021['price'] = calendar2021['price'].replace('[\$\,]', '', regex=True).astype(float)

calendar2022['price'] = calendar2022['price'].replace('[\$\,]', '', regex=True).astype(float)


#https://stackoverflow.com/questions/44469313/price-column-object-to-int-in-pandas

In [425]:
# Change date column to be datetime dtype
listing['host_since'] = pd.to_datetime(listing['host_since'])

review['date'] = pd.to_datetime(review['date'])
calendar2021['date'] = pd.to_datetime(calendar2021['date'])
calendar2022['date'] = pd.to_datetime(calendar2022['date'])

In [426]:
listing['host_is_superhost'].replace(to_replace=['t', 'f'], value=[1, 0],inplace=True)
listing['host_has_profile_pic'].replace(to_replace=['t', 'f'], value=[1, 0],inplace=True)
calendar2021['available'].replace(to_replace=['t', 'f'], value=[1, 0],inplace=True)
calendar2022['available'].replace(to_replace=['t', 'f'], value=[1, 0],inplace=True)

In [427]:
# creating a new column bathroom 
listing['bathrooms_text']=listing['bathrooms_text'].str.lower()
listing['bathroom'] = listing['bathrooms_text'].replace('[\ bath\ baths\ shared\ private\ Half-]', '', regex=True)
listing['bathroom'] = listing['bathroom'].replace('','0.5',regex=True).astype(float)

In [428]:
print('listings shape: ',listing.shape)
print('review shape: ', review.shape)
print('calendar2021 shape: ', calendar2021.shape)
print('calendar2022 shape: ', calendar2022.shape)

listings shape:  (38185, 34)
review shape:  (908803, 6)
calendar2021 shape:  (13448558, 6)
calendar2022 shape:  (13930943, 6)

In [430]:
listing.to_csv('../data/listings_clean.csv', index=False)
review.to_csv('../data/review_clean.csv', index=False)
calendar2021.to_csv('../data/calendar2021_clean.csv', index=False)
calendar2022.to_csv('../data/calendar2022_clean.csv', index=False)

### 5. Conclusion 
---