In [217]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [240]:
pd.set_option('display.max_columns', None) # to see all the columns on my dataframe
listing= pd.read_csv('listing.csv',low_memory=False)
calendar = pd.read_csv('calendar.csv')
review =pd.read_csv('reviews 2.csv')

In [241]:
listing.drop(['scrape_id','host_thumbnail_url','host_picture_url','host_listings_count',
              'host_verifications','host_identity_verified','neighbourhood','neighbourhood_cleansed',
             'neighbourhood_group_cleansed','bathrooms','availability_30','availability_60','availability_90','availability_365',
             'calendar_last_scraped','number_of_reviews_ltm','number_of_reviews_l30d','license','instant_bookable',
             'calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
             'calculated_host_listings_count_shared_rooms','host_response_time','host_response_rate','host_acceptance_rate','minimum_minimum_nights',
             'maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm',
             'calendar_updated','first_review','last_review'],axis=1,inplace=True)

calendar.drop('adjusted_price',axis=1,inplace=True)

In [242]:
print('listings shape: ',listing.shape)
print('calendar shape: ', calendar.shape)
print('review shape: ', review.shape)

listings shape:  (37713, 39)
calendar shape:  (13758434, 6)
review shape:  (876200, 6)

In [243]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37713 entries, 0 to 37712
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           37713 non-null  int64
 1   listing_url                  37713 non-null  object
 2   last_scraped                 37713 non-null  object
 3   name                         37700 non-null  object
 4   description                  36509 non-null  object
 5   neighborhood_overview        22506 non-null  object
 6   picture_url                  37713 non-null  object
 7   host_id                      37713 non-null  int64
 8   host_url                     37713 non-null  object
 9   host_name                    37682 non-null  object
 10  host_since                   37682 non-null  object
 11  host_location                37579 non-null  object
 12  host_about                   21942 non-null  object
 13  host_is_superhost            37682 non-null  object
 14  host_neighbourhood           30342 non-null  object
 15  host_total_listings_count    37682 non-null  float64
 16  host_has_profile_pic         37682 non-null  object
 17  latitude                     37713 non-null  float64
 18  longitude                    37713 non-null  float64
 19  property_type                37713 non-null  object
 20  room_type                    37713 non-null  object
 21  accommodates                 37713 non-null  int64
 22  bathrooms_text               37602 non-null  object
 23  bedrooms                     33752 non-null  float64
 24  beds                         35464 non-null  float64
 25  amenities                    37713 non-null  object
 26  price                        37713 non-null  object
 27  minimum_nights               37713 non-null  int64
 28  maximum_nights               37713 non-null  int64
 29  has_availability             37713 non-null  object
 30  number_of_reviews            37713 non-null  int64
 31  review_scores_rating         28500 non-null  float64
 32  review_scores_accuracy       27879 non-null  float64
 33  review_scores_cleanliness    27890 non-null  float64
 34  review_scores_checkin        27872 non-null  float64
 35  review_scores_communication  27883 non-null  float64
 36  review_scores_location       27868 non-null  float64
 37  review_scores_value          27868 non-null  float64
 38  reviews_per_month            28501 non-null  float64
dtypes: float64(13), int64(6), object(20)
memory usage: 11.2+ MB

In [244]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13758434 entries, 0 to 13758433
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   minimum_nights  float64
 5   maximum_nights  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 629.8+ MB

In [245]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876200 entries, 0 to 876199
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     876200 non-null  int64
 1   id             876200 non-null  int64
 2   date           876200 non-null  object
 3   reviewer_id    876200 non-null  int64
 4   reviewer_name  876194 non-null  object
 5   comments       875334 non-null  object
dtypes: int64(3), object(3)
memory usage: 40.1+ MB

In [252]:
listing.isnull().sum()

id                                0
listing_url                       0
last_scraped                      0
name                              0
description                       0
neighborhood_overview             0
picture_url                       0
host_id                           0
host_url                          0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_is_superhost                 0
host_neighbourhood                0
host_total_listings_count         0
host_has_profile_pic              0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                             0
minimum_nights                    0
maximum_nights                    0
has_availability                  0
number_of_reviews                 0
review_scores_rating           9213
review_scores_accuracy         9834
review_scores_cleanliness      9823
review_scores_checkin          9841
review_scores_communication    9830
review_scores_location         9845
review_scores_value            9845
reviews_per_month              9212
dtype: int64

In [247]:
calendar

,listing_id,date,available,price,minimum_nights,maximum_nights
0,16821,2021-11-03,t,$124.00,1.0,30.0
1,16595,2021-11-03,f,$450.00,1.0,1125.0
2,16595,2021-11-04,f,$450.00,1.0,1125.0
3,16595,2021-11-05,f,$490.00,1.0,1125.0
4,16595,2021-11-06,t,$490.00,1.0,1125.0
...,...,...,...,...,...,...
13758429,53077932,2022-10-29,t,$135.00,5.0,1125.0
13758430,53077932,2022-10-30,t,$135.00,5.0,1125.0
13758431,53077932,2022-10-31,t,$135.00,5.0,1125.0
13758432,53077932,2022-11-01,t,$135.00,5.0,1125.0
13758433,53077932,2022-11-02,t,$135.00,5.0,1125.0

In [258]:
calendar.isnull().sum()

listing_id        0
date              0
available         0
price             0
minimum_nights    0
maximum_nights    0
dtype: int64

In [259]:
review

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...
...,...,...,...,...,...,...
876195,53032739,484714686054587228,2021-10-30,417858009,Mohammad,Vanessa is a professional at work. Gave very a...
876196,53032739,486136261420447607,2021-11-01,168447002,Konstantin,It’s good place:) very friendly :)
876197,53038415,485458708697776561,2021-10-31,54989729,Craig,"Hi All,<br/><br/>This place was exactly as exp..."
876198,53046338,486896061814457176,2021-11-02,263525182,Gersom,Great place and great value! Would definitely ...
876199,53080602,486192987669601092,2021-11-01,117840663,Makayla,The place was spotless better than the picture...

In [261]:
review.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

listing['name'].fillna(str(listing['id']), inplace=True)
listing['description'].fillna('None', inplace=True)
listing['neighborhood_overview'].fillna('None', inplace=True)
listing['host_name'].fillna(str(listing['id']), inplace=True)
listing['host_since'].fillna(listing['host_since'].mode()[0], inplace=True)
listing['host_location'].fillna('New York, New York, United States', inplace=True)
listing['host_about'].fillna('None', inplace=True)
listing['host_is_superhost'].fillna('f', inplace=True)
listing['host_neighbourhood'].fillna('None', inplace=True)
listing['host_total_listings_count'].fillna('0', inplace=True)
listing['host_has_profile_pic'].fillna('f', inplace=True)
listing['bathrooms_text'].fillna('1 bath', inplace=True)
listing['bedrooms'].fillna('1.0', inplace=True)
listing['beds'].fillna(listing['beds'].mode()[0], inplace=True)

In [257]:
calendar.dropna(subset=['price'],inplace=True)
calendar.dropna(subset=['minimum_nights'],inplace=True)

In [260]:
review['reviewer_name'].fillna('None', inplace=True)
review['comments'].fillna('None', inplace=True)

In [ ]:
New York, New York, United States

In [175]:
listing[listing['neighborhood_overview'].isnull()]

,id,listing_url,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_has_profile_pic,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
2,5121,https://www.airbnb.com/rooms/5121,2021-11-03,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,Garon,2009-02-03,"New York, New York, United States","I am an artist(painter, filmmaker) and curato...",within a few hours,100%,100%,f,Bedford-Stuyvesant,1.0,t,40.685350,-73.955120,Private room in rental unit,Private room,2,NaN,1.0,1.0,"[""Long term stays allowed"", ""Heating"", ""Wifi"",...",6000,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,50,2014-01-22,2016-06-05,4.52,4.22,4.09,4.91,4.91,4.47,4.52,0.53
3,5136,https://www.airbnb.com/rooms/5136,2021-11-03,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"Brooklyn, New York, United States","Rebecca is an artist/designer, and Henoch is i...",within a day,100%,25%,f,Greenwood Heights,1.0,t,40.662650,-73.994540,Entire rental unit,Entire home/apt,4,1.5 baths,2.0,2.0,"[""BBQ grill"", ""Dryer"", ""Carbon monoxide alarm""...",27500,5,1125,5.0,5.0,1125.0,1125.0,5.0,1125.0,NaN,t,2,2014-01-02,2021-08-08,5.00,5.00,5.00,5.00,5.00,4.50,5.00,0.02
7,6848,https://www.airbnb.com/rooms/6848,2021-11-03,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, New York, United States",We love to travel. When we travel we like to s...,within an hour,100%,100%,f,Williamsburg,1.0,t,40.709350,-73.953420,Entire rental unit,Entire home/apt,3,1 bath,NaN,1.0,"[""Dedicated workspace"", ""Hair dryer"", ""Fire ex...",8900,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,181,2009-12-04,2021-08-10,4.56,4.59,4.86,4.84,4.80,4.67,4.57,1.25
12,7750,https://www.airbnb.com/rooms/7750,2021-11-03,2 Furnished bedrooms next to Central Park,Great location just steps to Central Park.<br ...,NaN,https://a0.muscache.com/pictures/30595787/61df...,17985,https://www.airbnb.com/users/show/17985,Sing,2009-05-20,"Brooklyn, New York, United States","Textile Designer, Art curator in New York City.",within a day,83%,29%,f,East Harlem,2.0,t,40.796070,-73.949490,Private room in rental unit,Private room,1,1 shared bath,2.0,2.0,"[""Elevator"", ""Wifi"", ""Long term stays allowed""...",9600,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8490,https://www.airbnb.com/rooms/8490,2021-11-03,"Maison des Sirenes1,bohemian, luminous apartment",<b>The space</b><br />I am the lucky owner of ...,NaN,https://a0.muscache.com/pictures/1c51369e-a251...,25183,https://www.airbnb.com/users/show/25183,Nathalie,2009-07-10,"New York, New York, United States",I am French and have been living in Ny for 10...,within an hour,100%,98%,t,Bedford-Stuyvesant,2.0,t,40.684620,-73.938390,Entire loft,Entire home/apt,5,1 bath,1.0,4.0,"[""Microwave"", ""Oven"", ""Private entrance"", ""Air...",14000,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,138,2012-03-05,2021-10-17,4.76,4.85,4.74,4.89,4.87,4.61,4.75,1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37708,53123149,https://www.airbnb.com/rooms/53123149,2021-11-03,Lovely Room in Bedford-Stuyvesant Apartment,$200/MONTHLY FLEXIBILITY FEE<br />Unsure of ho...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,305240193,https://www.airbnb.com/users/show/305240193,June,2019-10-29,"New York, New York, United States",If you're searching for a place of your own or...,within a few hours,97%,18%,f,Crown Heights,219.0,t,40.682389,-73.955540,Private room in rental unit,Private room,1,2 shared baths,1.0,1.0,"[""Trash compactor"", ""Long term stays allowed"",...",6500,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37709,53123691,https://www.airbnb.com/rooms/53123691,2021-11-03,Unfurnished Room in West Harlem Apartment,$200/MONTHLY FLEXIBILITY FEE<br />Unsure of ho...,NaN,https://a0.muscache.com/pictures/d977726e-fa65...,305240193,https://www.airbnb.com/users/show/305240193,June,2019-10-29,"New York, New York, United States",If you're searching for a place of your own or...,within a few hours,97%,18%,f,Crown Heights,219.0,t,40.801062,-73.961581,Private room in rental unit,Private room,1,1 shared bath,1.0,NaN,"[""Hot water kettle"", ""Trash compactor"", ""TV"", ...",5800,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37710,53123840,https://www.airbnb.com/rooms/53123840,2021-11-03,MASSIVE 8BR/8BTH Brooklyn Townhouse w/ Backyard,"Newly renovated townhouse in Bushwick, includi...",NaN,https://a0.muscache.com/pictures/a4205ba6-17ab...,13603829,https://www.airbnb.com/users/show/13603829,Kay,2014-03-27,"Brooklyn, New York, United States","Traveler, Entrepreneur, Artist",within an hour,90%,83%,f,Kensington,11.0,t,40.682358,-73.908384,Entire townhouse,Entire home/apt,8,7.5 baths,8.0,8.0,"[""Long term stays allowed"", ""Essentials"", ""Sha...",91400,1,1125,1.0,1.0,1125.0,1125.0,1.0,1125.0,NaN,t,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37711,53126354,https://www.airbnb.com/rooms/53126354,2021-11-03,Unfurnished Room in West Harlem Apartment,$200/MONTHLY FLEXIBILITY FEE<br />Unsure of ho...,NaN,https://a0.muscache.com/pictures/bd449765-d34a...,305240193,https://www.airbnb.com/users/show/305240193,June,2019-10-29,"New York, New York, United States",If you're searching for a place of your own or...,within a few hours,97%,18%,f,Crown Heights,219.0,t,40.800454,-73.963746,Private room in rental unit,Private room,1,1 shared bath,1.0,NaN,"[""Hot water kettle"", ""Trash compactor"", ""TV"", ...",6600,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37712,53127631,https://www.airbnb.com/rooms/53127631,2021-11-03,Bright Room in West Harlem Apartment,$200/MONTHLY FLEXIBILITY FEE<br />Unsure of ho...,NaN,https://a0.muscache.com/pictures/0ccd7178-5c3f...,305240193,https://www.airbnb.com/users/show/305240193,June,2019-10-29,"New York, New York, United States",If you're searching for a place of your own or...,within a few hours,97%,18%,f,Crown Heights,219.0,t,40.799822,-73.966022,Private room in rental unit,Private room,1,1 shared bath,1.0,1.0,"[""Hot water kettle"", ""Trash compactor"", ""Carbo...",6500,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
listing[listing['neighborhood_overview']==np.nan]

SyntaxError: invalid syntax (<ipython-input-157-7c985fc0894b>, line 1)

In [177]:
listing.head()

,id,listing_url,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_has_profile_pic,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,2021-11-03,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,a few days or more,35%,18%,f,Midtown,8.0,t,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,1 bath,NaN,1.0,"[""Bathtub"", ""Dedicated workspace"", ""Hair dryer...",15000,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,48,2009-11-21,2019-11-04,4.70,4.72,4.62,4.76,4.79,4.86,4.41,0.33
1,3831,https://www.airbnb.com/rooms/3831,2021-11-03,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,LisaRoxanne,2008-12-07,"New York, New York, United States",Laid-back Native New Yorker (formerly bi-coast...,a few days or more,21%,76%,f,Clinton Hill,1.0,t,40.68494,-73.95765,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,"[""Microwave"", ""Oven"", ""Pack \u2019n play/Trave...",7300,1,730,1.0,1.0,730.0,730.0,1.0,730.0,NaN,t,408,2015-01-05,2021-06-29,4.46,4.59,4.50,4.79,4.81,4.72,4.65,4.91
2,5121,https://www.airbnb.com/rooms/5121,2021-11-03,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,5121,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,Garon,2009-02-03,"New York, New York, United States","I am an artist(painter, filmmaker) and curato...",within a few hours,100%,100%,f,Bedford-Stuyvesant,1.0,t,40.68535,-73.95512,Private room in rental unit,Private room,2,NaN,1.0,1.0,"[""Long term stays allowed"", ""Heating"", ""Wifi"",...",6000,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,50,2014-01-22,2016-06-05,4.52,4.22,4.09,4.91,4.91,4.47,4.52,0.53
3,5136,https://www.airbnb.com/rooms/5136,2021-11-03,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,5136,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"Brooklyn, New York, United States","Rebecca is an artist/designer, and Henoch is i...",within a day,100%,25%,f,Greenwood Heights,1.0,t,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,1.5 baths,2.0,2.0,"[""BBQ grill"", ""Dryer"", ""Carbon monoxide alarm""...",27500,5,1125,5.0,5.0,1125.0,1125.0,5.0,1125.0,NaN,t,2,2014-01-02,2021-08-08,5.00,5.00,5.00,5.00,5.00,4.50,5.00,0.02
4,5178,https://www.airbnb.com/rooms/5178,2021-11-03,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,Shunichi,2009-03-03,"New York, New York, United States",I used to work for a financial industry but no...,within a few hours,100%,100%,f,Hell's Kitchen,1.0,t,40.76457,-73.98317,Private room in rental unit,Private room,2,1 bath,1.0,1.0,"[""Conditioner"", ""Drying rack for clothing"", ""H...",6800,2,14,2.0,2.0,14.0,14.0,2.0,14.0,NaN,t,505,2010-08-18,2021-10-20,4.21,4.20,3.73,4.66,4.41,4.87,4.35,3.70

In [143]:
listing['price'] = listing['price'].replace('[\$\,\.]', '', regex=True).astype(int)
calendar['price'] = calendar['price'].replace('[\$\,\.]', '', regex=True).astype(int)

#https://stackoverflow.com/questions/44469313/price-column-object-to-int-in-pandas

ValueError: cannot convert float NaN to integer

In [142]:
listing.describe()

,id,host_id,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
count,3.771300e+04,3.771300e+04,37682.000000,37713.000000,37713.000000,37713.000000,33752.000000,35464.000000,37713.000000,37713.000000,3.771300e+04,37694.000000,37694.000000,3.769400e+04,3.769400e+04,37694.000000,3.769400e+04,0.0,37713.000000,28500.000000,27879.000000,27890.000000,27872.000000,27883.000000,27868.000000,27868.000000,28501.000000
mean,2.883977e+07,1.117833e+08,44.408471,40.729186,-73.949361,2.784981,1.320811,1.590740,16542.255986,22.130645,5.866011e+04,22.298058,28.155542,1.654037e+06,3.534100e+06,27.789574,2.255370e+06,NaN,23.233368,4.584785,4.746614,4.613382,4.816832,4.811570,4.752293,4.650597,1.640820
std,1.710942e+07,1.272200e+08,294.251560,0.055662,0.050442,1.863980,0.702414,1.077333,29236.618160,30.809556,1.105915e+07,33.661902,70.500662,5.954322e+07,8.702382e+07,68.661471,6.506941e+07,NaN,50.153962,0.839473,0.491423,0.572011,0.435073,0.456708,0.412702,0.511760,4.220807
min,2.595000e+03,2.438000e+03,0.000000,40.504559,-74.249840,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,1.309845e+07,1.110595e+07,1.000000,40.689380,-73.983620,2.000000,1.000000,1.000000,6900.000000,3.000000,6.000000e+01,3.000000,3.000000,3.000000e+02,3.650000e+02,3.000000,3.600000e+02,NaN,1.000000,4.570000,4.710000,4.500000,4.810000,4.820000,4.670000,4.560000,0.120000
50%,2.996451e+07,4.886606e+07,1.000000,40.725160,-73.955020,2.000000,1.000000,1.000000,11000.000000,30.000000,1.125000e+03,30.000000,30.000000,1.125000e+03,1.125000e+03,30.000000,1.125000e+03,NaN,4.000000,4.820000,4.900000,4.800000,4.960000,4.970000,4.880000,4.780000,0.470000
75%,4.547279e+07,1.918493e+08,3.000000,40.762510,-73.930950,4.000000,1.000000,2.000000,18000.000000,30.000000,1.125000e+03,30.000000,30.000000,1.125000e+03,1.125000e+03,30.000000,1.125000e+03,NaN,20.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.690000
max,5.312763e+07,4.298401e+08,4067.000000,40.914070,-73.710870,16.000000,13.000000,24.000000,1000000.000000,1250.000000,2.147484e+09,1250.000000,1250.000000,2.147484e+09,2.147484e+09,1250.000000,2.147484e+09,NaN,1009.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,136.000000